{% extends "WebsiteViews/base.html" %} {% block title %} Home {% endblock title %} {% block head %} {{super()}}
<script src="static/scripts/UserPages/aboutPage.js"></script>
{% endblock head %} {% block main %}
<div id="allCards">
  <div class="card w-75 border-primary mb-3" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"><i class="fa fa-user"></i> About {{user.firstName}} {{user.lastName}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fa-solid fa-circle-info"></i> {{user.about}}</li>
      <li class="list-group-item"><i class="fa fa-university"></i> {{user.major}}, {{user.college}}</li>
      <li class="list-group-item">
        <a href="tel:{{user.phone}}"> <i class="fa-solid fa-phone"></i> {{user.phone}}</a>
      </li>

      <li class="list-group-item">
        <a href="mailto: {{user.email}}"> <i class="fa-solid fa-envelope"></i> {{user.email}}</a>
      </li>
    </ul>
    <div class="card-body">
      {% if user.github %}
      <a href="{{user.github}}" class="card-link"> <i class="fa fa-github" style="font-size: 36px"></i> Github</a>
      {% endif %} {% if user.instagram %}
      <a href="{{user.instagram}}" class="card-link"
        ><i class="fa fa-instagram" style="font-size: 36px"></i> Instagram</a
      >
      {% endif %} {% if user.linkedIn %}
      <a href="{{user.linkedIn}}" class="card-link"><i class="fa fa-linkedin" style="font-size: 36px"></i> LinkedIn</a>
      {% endif %}
    </div>
  </div>
  <div class="card w-75 border-primary mb-3" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Projects</h5>
    </div>
    {% for project in user.projects %}
    <div style="text-align: center">
      <img
        class="card-img-top"
        src="https://i.ytimg.com/vi/oDPhsO2lspA/maxresdefault.jpg"
        style="width: 300px; height: 200px"
        alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p>
        <a href="{{project.repositoryLink}}" class="btn btn-primary">Try it out</a>
      </div>
    </div>
    {%endfor%}
  </div>
  <div>
    <div class="card w-75 border-primary mb-3" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-user"></i> Skills/Experience</h5>
      </div>
      <h5 class="card-subtitle">Programming languages</h5>
      <ul class="list-group list-group-flush">
        {%for language in user.languages%}
        <li class="list-group-item">
          <i class="fa-brands fa-java"></i> {{language.language}}, {{language.proficiency}}
        </li>
        {%endfor%}
        <li class="list-group-item"><i class="fa-brands fa-python"></i> Python, Intermediate</li>
        <li class="list-group-item"><i class="fa-brands fa-html5"></i> Html, Beginner</li>
        <li class="list-group-item"><i class="fa-brands fa-css3-alt"></i> CSS, Advanced</li>
      </ul>
      <h5 class="card-subtitle">Work Experience</h5>
      <ul class="list-group list-group-flush">
        {%for job in user.experiences%}
        <li class="list-group-item">
          <i class="fa-solid fa-briefcase"></i> {{job.position}} at {{job.company}} from {{job.years}}.
          {{job.description}}
        </li>
        {%endfor%}
      </ul>
    </div>
  </div>
</div>
{% endblock main %}
