{% extends "UserPages/base.html" %} {% block title %} About {% endblock title %} {% block head %} {{super()}}
<script src="/static/scripts/UserPages/about_edit.js"></script>
<script src="/static/scripts/UserPages/languageSkills.js"></script>
<script src="/static/scripts/UserPages/language_drag.js"></script>
<script src="/static/scripts/UserPages/work_add.js"></script>
<script src="/static/scripts/UserPages/work_drag.js"></script>
<script>
  UPLOADCARE_PUBLIC_KEY = "demopublickey";
</script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
<link rel="stylesheet" href="/static/styles/draggable.css">
{% endblock head %} {% block main %}
<div id="allCards">
  <input type="hidden" value="{{user.id}}" id="user-id-info" />
  <div class="card w-75 border-primary mb-3" style="width: 18rem">
    <div class="card-body">
      <h3 id="user-name" class="card-title">About {{user.firstName}} {{user.lastName}}</h3>
      <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;">
            <label for="file" style="cursor: pointer;"><img id="person-photo" 
              {% if user.imagePath %}
              src="{{user.imagePath}}"
              {% else %}
              src="/static/images/saveImage.png"
              {% endif %}
              width="250" height="250"
              >
              
            </label>
          </div>    
    <ul class="list-group list-group-flush">
      <li id="user-name" class="list-group-item">
        <div class="card-body">
        </div>
      
      </li>
      <li id="user-about" class="list-group-item">
        <i class="fa-solid fa-circle-info"></i>
        <div id="about-field-about" class="myeditablediv">{{user.about}}</div>
      </li>
      <li id="user-college-major" class="list-group-item">
          <div class="row">
              <i class="fa fa-university col-md-1"></i>
            <div id="about-field-major" class="myeditablediv" class="col-md-2">{{user.major}}</div>
            <div id="about-field-college" class="myeditablediv" class="col-md-2">{{user.college}}</div>
        </div>
      </li>
      <li id="user-phone" class="list-group-item">
        <a>
          <i class="fa-solid fa-phone"></i>
          <div class="myeditablediv" id="about-field-phone">{{user.phone}}</div></a
        >
      </li>
      <li class="list-group-item">
        <a
          ><i class="fa-solid fa-envelope"></i>
          <div>{{user.email}}</div></a
        >
      </li>
    </ul>

    <!-- <div class="card-body"> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h3 class="card-title">Github URL</h3>
          <div id="about-field-github" class="myeditablediv">{{user.github}}</div>
        </li>
        <li class="list-group-item">
          <h3 class="card-title">Instagram URL</h3>
          <div id="about-field-instagram" class="myeditablediv">{{user.instagram}}</div>
        </li>
        <li class="list-group-item">
          <h3 class="card-title">LinkedIN URL</h3>
          <div id="about-field-linkedin" class="myeditablediv">{{user.linkedIn}}</div>
        </li>
      </ul>
    <!-- </div> -->
  </div>
  <div class="card w-75 border-primary mb-3" style="width: 18rem">
    <div class="card-body">
      <h3 class="card-title"  class="card-title">Projects</h3>
    </div>
    {% for project in user.projects %}
    <div>
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <p class="card-text">{{project.description}}</p>
      </div>
    </div>
    {%endfor%}
  </div>
  <div>
    <div class="card w-75 border-primary mb-3" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Skills/Experience</h5>
      </div>
      <!-- <div class="container"> -->
        <!-- <div class="row"> -->
          <!-- <div class="col-md-3 offset-md-3"> -->
            <h5 class="card-subtitle">Programming languages</h5>
          <!-- </div> -->
          <!-- <div class="col-md-3"> -->
            <button
              id="newLanguage-{{user.id}}"
              type="button"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#new-language-modal">
              <img
                src="/static/images/add_new.png"
                alt="Image"
                style="width: 20px; height: 20px"
                class="rounded-circle" />
            </button>
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->

      <ul id="language-list" class="list-group list-group-flush drag-list">
        {% for language in user.languages %}
        <li class="list-group-item drag-item" draggable="true" id="lang-li-{{language.id}}"><i class="fa-solid fa-code"></i> {{language.language}}, {{language.proficiency}}</li>
        {% endfor %}
      </ul>
      <h5 class="card-title"></i>Work Experience</h5>
      <button
        id="newWork-{{user.id}}"
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#new-work-modal">
        <img src="/static/images/add_new.png" alt="Image" style="width: 20px; height: 20px" class="rounded-circle" />
      </button>
      <ul class="list-group list-group-flush drag-list" id="work-list">
        {% for work in user.experiences %}
        <li class="list-group-item drag-item" draggable="true" id="work-li-{{work.id}}">
          <i class="fa-solid fa-briefcase"></i>
          {{work.position}}, {{work.company}} {{work.startYear}}-{{work.endYear}}
          <p>{{work.description}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div id="allModals">
  <!--Project Modal-->
  <div class="modal fade" id="project-modal" tabindex="-1" aria-labelledby="project-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="project-modal-label">Projects</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="project-title-input">Project Title</label>
              <input class="form-control" type="text" id="project-title-input" />
            </div>

            <div class="form-group">
              <label for="project-description-input">Project Description</label>
              <textarea class="form-control" id="project-description-input" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="project-image-input">Project Image</label>
              <input type="file" accept=".png, .jpg" class="form-control" id="project-image-input" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!--New Language-->
  <div class="modal fade" id="new-language-modal" tabindex="-1" aria-labelledby="new-language-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="
          modal-title fs-5" id="new-language-label">Programming Language</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="new-language-input">Language</label>
              <input class="form-control" type="text" id="new-language-input" />
            </div>
            <h1></h1>
            <div class="form-group">
              <label for="new-proficiency-input">Proficiency</label>
              <select id="new-proficiency-input">
                <option selected>Choose</option>
                <option>Advanced</option>
                <option>Intermediate</option>
                <option>Beginner</option>
              </select>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button id="save-new-lang-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>

  <!--Workplace Modal-->
  <div class="modal fade" id="new-work-modal" tabindex="-1" aria-labelledby="new-work-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="new-work-label">Work Experience</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="work-title-input">Title</label>
              <input class="form-control" type="text" id="work-title-input" />
            </div>

            <div class="form-group">
              <label for="work-workplace-input">Workplace</label>
              <input class="form-control" type="text" id="work-workplace-input" />
            </div>

            <div class="form-group">
              <label for="work-description-input">Description</label>
              <input type="text" class="form-control" id="work-description-input" />
            </div>

            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="work-from-input">Start Year</label>
                    <input class="form-control" type="number" id="work-from-input" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="work-to-input">End Year</label>
                    <input class="form-control" type="number" id="work-to-input" />
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="save-new-work-btn">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
